body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-shadow: inset 0 0 0 4px rgb(0, 140, 255);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
    margin: 0 auto;
}

.caja{
    width:  30px;
    height: 30px;
    background-color: red;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border-radius: 20%;
    border: black 2px solid;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.caja:hover {
    transform: scale(1.05);
}

.caja.zoom {
    transform: scale(2.0);
    z-index: 10;
}

.cajita {
    width:  40px;
    height: 40px;
}